# Build output
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# dotenv environment variables file
.env

# Serverless output
.serverless

# Parcel cache
.cache

# Temporary directory for local S3 mock
.tmp