mixin crop
  .field
    label.ui
      | Crop
      code (crop=&lt;x&gt;,&lt;y&gt;,&lt;width&gt;,&lt;height&gt;)

  .four.fields
    .field
      .ui.right.labeled.input
        label.ui.label(for='crop-crop-x') x
        input#crop-crop-x(type='number', name='crop[0]', value='10', min='0', max='100')
        .ui.basic.label %
    .field
      .ui.right.labeled.input
        label.ui.label(for='crop-crop-y') y
        input#crop-crop-y(type='number', name='crop[1]', value='10', min='0', max='100')
        .ui.basic.label %
    .field
      .ui.right.labeled.input
        label.ui.label(for='crop-crop-width') width
        input#crop-crop-width(type='number', name='crop[2]', value='50', min='0', max='100')
        .ui.basic.label %
    .field
      .ui.right.labeled.input
        label.ui.label(for='crop-crop-height') height
        input#crop-crop-height(type='number', name='crop[3]', value='50', min='0', max='100')
        .ui.basic.label %
