.ui.bottom.attached.tab.segment(data-tab='lb')
  h3.ui.header Letterbox

  .ui.segment
    form#lb-form.ui.form
      h4.ui.dividing.header Settings

      .field
        label.ui(for='lb-lb-width')
          | Letterbox
          code (lb=&lt;width&gt;,&lt;height&gt;)
      .two.fields
        .field
          .ui.labeled.input
            label.ui.label(for='lb-lb-width') width
            input#lb-lb-width(type='number', name='lb[0]', value='300')
        .field
          .ui.labeled.input
            label.ui.label(for='lb-lb-height') height
            input#lb-lb-height(type='number', name='lb[1]', value='300')
      
      .inline.field
        label.ui
          | Background
          code (background=&lt;string&gt;)
        input#lb-background(type='color', name='background', value='#000000', style='width: 2em')
      
      +settings('lb')
  +image('lb')
